/* Diggety default CSS Document - © Axel Latvala */
html
{
    height: 100%;
}

body
{
    font-family:Arial;
    font-weight:bold;
    margin: 0;
    height: 100%;
}

div#content
{
    float:left;
    width:773px;
    border-left:#666 solid 1px;
    border-right:#666 1px solid;
}

div#wrapper
{
    position:relative;
    color: #666666;
    margin: 80px auto 0;
    width: 775px;
    height: auto;
    /*background-color: #c4c4c4;
    border-right:#666 1px solid;
    padding-bottom: 30px;*/
}

div#ads
{
    
}

div.ad
{
    padding-top:30px;
    padding-bottom:30px;
}

div#side
{
    display:inline-block;
    width:218px;
    background-color:#c4c4c4;
}

div#headerbar
{
    width: 100%;
    position: fixed;
    top: 0px;
    height:39px;
    background: #324f6d;
    border-bottom: 1px solid black;
    line-height: 40px;
    z-index: 1000;
    font-weight: normal;
}

div#header
{
    position: fixed;
    top: 40px;
    left: 50%;
    height:40px;
    background: #2a4561;
    line-height: 40px;
    z-index: 1000;
    width: 774px;
    margin-left: -388px;
    border-right: rgb(102, 102, 102) 1px solid;
    font-weight: normal;
}

div#title
{
    padding: 25px 25px;
    line-height: 100px;
    vertical-align: middle;
    font-size: xx-large;
    font-weight: bold;
}

div#footer
{
    width: 1012px;
    height:30px;
    line-height:150px;
    color:#666666;
    background-color:#ebebeb;
    text-align:center;
    vertical-align:middle;
    border-top:#000 solid 1px;
    border-left:#000 solid 1px;
    border-right:#000 solid 1px;
    position: fixed; 
    bottom: 0;
    left: 50%;
    margin-left: -507px;
}

div.floatleft
{
    float:left;
}

div.floatright
{
    float:right;	
}

a
{
    color:inherit;
    text-decoration:none;
}

div#featuredcontainer
{
    background:#282828;
}


.clearfix
{
    clear:both;
}

div.featured
{
    width:100%;
    text-align: center;
    padding-bottom: 0px;
}

div.featured img
{
    width:448px;
}
div.featured a
{
    height:0px;
}

span#logo
{
    position: absolute;
    top: -43px;
    left: 22px;
    width: 200px;
    height: 80px;
    background-image: url(../images/diggety_sprite.png);
    background-position: -42px 3px;
}

span#search
{
    position: absolute;
    top: 13px;	
}

div#links
{
    display:table;
    width:515px;
    position: absolute;
    left:240px;
    vertical-align: middle;
}
div#links ul
{
    display:table-row;
    width: 100%;
}
div#links li
{
    display: table-cell;
    text-align: center;
    width: 33%;
}

div#links a
{
    color:#b0c8e1;
}

div#links a:hover
{
    color:#e7e7e7;
}

table#posts
{
    background:#FFFFFF;
    border-spacing: 0px;
}

table#posts tr td
{
    border-bottom: 1px solid #666;
    vertical-align: top;
}

table#posts .smallpost
{
    border-bottom:1px solid #c2c2c2;
    height:auto;
    min-height:150px;
}

table#posts .bigpost
{
    border-bottom:1px solid #c2c2c2;
    height:auto;
    min-height:250px;
}

td.postopt
{
    background:#f6f6f6;
    width:91px;
    border-right:1px solid #666;
    height:100%;
}

td.postcont
{
    width:855px;
    padding:0px;
}

div.postmeta
{
    height: 20px;
    padding: 15px;
    border-top: 2px solid gray;
    background: lightgray;
}

div.options
{
    display: table;
}

div.postcontent
{
    min-height:150px;
    padding:15px 15px;
}

div.postcontent div.imgcont
{
    width: 645px;
    text-align: center;
}
div.postcontent div.vidcont
{
    /* 16:9 + 40px */
    width: 645px;
    height: 393px;
    text-align: center;
}
div.postcontent div.vidcont iframe
{
    height: 100%;
    width: 645px;
}

div.postcontent div.imgcont img
{
    max-width: 645px;
}

div.bigcontent
{
    min-height: 300px;
}

td.postopt div.options div.postvotes div.totalvotes, td.postopt div.options div.postvotes div.votedistribution
{
    display: inline-block;
}

td.postopt div.options div.postvotes div.totalvotes
{
    font-size: 17pt;
    vertical-align: middle;
    color: #2f5d8a;
}

td.postopt div.options div.postvotes div.votedistribution
{
    margin: 0px 0px 0px 19px;
    text-align: center;
    background-color: #f6f6f6;
    width: 50px;
    padding:5px 0px;
}

td.postopt div.options div.postvotes div.votedistribution div.upvotes, td.postopt div.options div.postvotes div.votedistribution div.downvotes
{
    font-size: 16px;
}

td.postopt div.options div.upvote, td.postopt div.options div.downvote
{
    height: 16px;
    margin: 0 auto;
    margin-top: 7px;
    margin-bottom: 7px;
    cursor: pointer;
    background-repeat: no-repeat;
    background-image: url(../images/diggety_sprite.png);
}

td.postopt div.options div.upvote
{
    background-position: 0px -12px;
    width: 24px;
    height: 12px;
}

td.postopt div.options div.downvote
{
    background-position: -24px -12px;
    width: 18px;
    height: 9px;
}

td.postopt div.options div.upvoted
{
    background-position: 0px 0px !important;
}

td.postopt div.options div.downvoted
{
    background-position: -24px 0px !important;
}

td.postopt div.options div.postvotes
{
    padding: 15px 0px 15px 0px;
    width:90px;
}

div#headercontainer
{
    margin: 0 auto;
    width: 754px;
    height: 20px;
    padding: 10px 10px 10px 10px;
    line-height: 20px;
}

div.headerbutton
{
    height: 20px;
    padding: 0px 5px;
    float: right;
    margin-right: 15px;
    cursor: pointer;
    color: #FFF;
}

.header_button_onmousedown
{
    color: #d0d0d0 !important;
}

.postcont a
{
    color: #000;
}

.postcont a:hover
{
    color: #c2c2c2;
}

div.sidebaritem
{
    width: 238px;
    background-color: #e2e2e2;
    border-bottom: 2px solid #878787;
    border-top: 2px solid #878787;
    min-height: 100px;
}

div.sidebaritem div.itemcontainer
{
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: center;
}

div.sidebaritem div.itemcontainer div.submit_button
{
    background-image: url('../images/diggety_sprite.png');
    background-repeat: no-repeat;
    background-position: -72px -79px;
    width: 67px;
    height: 27px;
    margin:5px auto;
    cursor: pointer;
}

.submit_button_onmousedown
{
    background-position: -138px -79px !important;
}

div.sidebaritem div.itemcontainer textarea, div.sidebaritem div.itemcontainer input
{
    width: 190px;
    line-height: 20px;
    font-size: 16px;
    background-color: #e2e2e2;
    -webkit-box-shadow: inset 5px 10px 30px 10px rgba(210, 210, 210, 1);
    box-shadow: inset 5px 10px 30px 10px rgba(210, 210, 210, 1);
    border:0px;
    color:#858585;
    margin: 5px 0px;
}

#loadingpost
{
    background: #FFF;
    width: 100%;
    border-bottom: 1px solid rgb(102, 102, 102);
}
#loadingpost p
{
    padding: 25px;
    text-align: center;
    margin: 0px;
}
tr.announce td
{
    padding:25px;
    text-align: center;
}

#login_dialog, #register_dialog, #submit_dialog, .diggety_dialog
{
    position: relative;
    background-color: white !important;
    font-weight: normal;
    text-align: center;
}

.large_corners
{
    -moz-border-radius-bottomright: 7px !important;
    -webkit-border-bottom-right-radius: 7px !important;
    -khtml-border-bottom-right-radius: 7px !important;
    border-bottom-right-radius: 7px !important;
    -moz-border-radius-bottomleft: 7px !important;
    -webkit-border-bottom-left-radius: 7px !important;
    -khtml-border-bottom-left-radius: 7px !important;
    border-bottom-left-radius: 7px !important;
    -moz-border-radius-topright: 7px !important;
    -webkit-border-top-right-radius: 7px !important;
    -khtml-border-top-right-radius: 7px !important;
    border-top-right-radius: 7px !important;
    -moz-border-radius-topleft: 7px !important;
    -webkit-border-top-left-radius: 7px !important;
    -khtml-border-top-left-radius: 7px !important;
    border-top-left-radius: 7px !important;
}

#login_title, #register_title, #submit_title, .dialog_title
{
    font-family: Arial;
    font-weight: normal;
    font-size: 41px;
    margin-top: 35px;
    margin-bottom: 5px;
    color: #525252;
}

#submit_title
{
    margin-bottom: 40px;    
}

#login_status, #register_status, #submit_status, .dialog_status
{
    font-size: 12pt;
    color: #585858;
    font-style: italic;
    margin-top: -20px;
    margin-bottom: 10px;
}

#login_form, #register_form, #submit_form, .dialog_form
{
    width: 250px;
    margin:0 auto;
    text-align: left;
    padding-bottom: 15px;
}

#do_login
{
    cursor: pointer;
    color: #585858;
    margin-left: 80px;
}
#do_register
{
    cursor: pointer;
    color: #585858;
    margin-left: 32px;
}

#do_login:hover
{
    color: #5b9ad4;
}
#do_register:hover
{
    color: #5b9ad4;
}


#remember_me_host
{
    color:#585858;
    font-style: italic;
    font-weight: normal;
}

.logininput
{
    width: 238px;
    height: 18px;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 5px;
    border: 1px solid #7e7e7e;
    font-size: 20px !important;
}

#forgot_password_title
{
    margin-top: 120px;
    text-align: center;
    color: #5b5b5b;
}

#login_forgot_password
{
    
}

.empty_input
{
    color: #b3b3b3;
    font-style: italic;
}

#do_forgot_password
{
    cursor: pointer;
    color: #585858;
    margin-left: 203px;
    padding-bottom: 20px;
}

#agree_tos
{
    font-size: 9px;
}

#register_captcha
{
    margin: 0 auto;
    width: 318px;
    padding: 20px 0px;
}

.hint
{
    font-size: 11px;
    font-style: italic;
    color: rgb(150, 150, 150);
}

#register_ajax, submit_ajax, .dialog_ajax
{
    position: absolute;
    top: 100px;
    left: 80px;
}

#show_more
{
    font-size: 12px;
    cursor: pointer;
    margin-bottom: 5px;
    display: inline-block;
}
#show_more:hover
{
    color: #5b9ad4;
}

#register_extras select
{
    margin: 8px 0px;
    width: 250px;
}

#do_submit
{
    cursor: pointer;
    margin-left: 167px;
}

#do_submit:hover
{
    color: #5b9ad4;
}

#submit_form
{
    margin-bottom: 30px;
}

#login_subtitle, #register_subtitle, dialog_subtitle
{
    cursor: pointer;
    font-size: 14px;
    margin-bottom: 30px;
}

#login_subtitle:hover, #register_subtitle:hover, .dialog_subtitle:hover
{
    color:#5b9ad4;
}

img.thumbnail_img
{
    width: 100px;
}

div.postinfo
{
    position: relative;
    display: inline-block;
    height: 100px;
    margin-left: 5px;
}

div.thumbnail_container
{
    display: inline-block;
}

a.post_expand
{
    font-size: 26px;
    color: #6e6e6e;
}

span.poster
{
    font-size: 12px;
}

span.thumbresizer
{
    display: inline-block;
    width: 100px;
    height: 100px;
    overflow: hidden;
}

div.post_controls
{
    display:inline-block;
}

div.post_badges
{
    text-align: center;
}

div.post_badges img
{
    width: 75px;
}